<h1>Job Details</h1>
<table border="1">
    <tr>
        <th>Job Id</th>
        <td>{{job.jobId}}</td>
    </tr>
    <tr>
        <th>Title</th>
        <td>{{job.title}}</td>
    </tr>
    <tr>
        <th>  Qualification</th>
        <td>{{job.qualification}}</td>
    </tr>
    <tr>
        <th>Skill1</th>
        <td>{{job.skill1}}</td>
    </tr>
    <tr>
        <th>Skill2</th>
        <td>{{job.skill2}}</td>
    </tr>
    <tr>
        <th>Skill3</th>
        <td>{{job.skill3}}</td>
    </tr>

   
    <tr>
        <th>Skill1</th>
        <td>{{job.skill1}}</td>
    </tr>
     
</table>
<button (click)=" Backto()">Back</button>

