<h1>Employees Details</h1>
<table border="1">
    <tr>
        <th>Employee Id</th>
        <td>{{employee.employeeId}}</td>
    </tr>
    <tr>
        <th>firstName</th>
        <td>{{employee.firstName}}</td>
    </tr>
    <tr>
        <th>LastName</th>
        <td>{{employee.lastName}}</td>
    </tr>
    <tr>
        <th>Gender</th>
        <td>{{employee.gender}}</td>
    </tr>
    <tr>
        <th>PhoneNo</th>
        <td>{{employee.phoneNo}}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>{{employee.email}}</td>
    </tr>
    <tr>
        <th>DateOfBirth</th>
        <td>{{employee.dateOfBirth}}</td>
    </tr>
    <tr>
        <th>Designation</th>
        <td>{{employee.designation}}</td>
    </tr>
    <tr>
        <th>ProjectId</th>
        <td>{{employee.projectId}}</td>
    </tr>
    <tr>
        <th>managerId</th>
        <td>{{employee.managerId}}</td>
    </tr>

     
</table>
<br>
<button (click)="Backto()">Back</button>
